@import '_variables';

.city{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & header{
       & h1{ 
           display: inline-block;
           margin: 20px 15px;
           color: #333333;
           border-bottom: 4px solid #333333;
       } 
    }

    & footer{
        flex: 0 1 auto;
        display: flex;
        min-height: 88px;
       /* background-color: yellow;*/
       background-color: #ffffff;
    }
}
.city-content{
    width: 100vw;
    display: flex;
    overflow: hidden;
    flex: 1 1 auto;
    
}

.col-main-body {
    display: flex;
    flex: 1;
}

.aside{
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     & > *{
        flex: 1 1 auto;
        margin: 15px auto;
    }
}

.aside a{
	text-decoration:none;
	color:#ffb245;
}

.red-panel{
    background-color: #c71e1e;
    color:#ffffff;
}

.game-time{
  /*  color: #333333;*/
    font-size: 3rem;
    text-align: center;
}

.col-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.scrollable-panel{
    max-height: 30vh;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 0.25rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 0.25rem;
    }
}

.headerToolTip {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .col-main-body {
        position: relative;
        flex-direction: column;


    }

    .witness-list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4rem;
    }
}