.map {
    display: none;
}

.map-wrapper {
    max-width: 0;
    height: 100%;
    flex: 1;
    transition: max-width 0.3s ease-in;
    &.expanded {
        max-width: 100%;
    }
}

.headerToolTip {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}