@import 'app/styles/_variables';

.travel-panel-button-open {
    position: absolute;
    transition: transform 0.3s ease-in;
    left: 0;
    top: calc( 50% - 2rem);
    & .icon-map{
        width: 2rem;
        height: 2rem;
    }

    &.buzz::before{
        content:'';
        background-color: rgba(255,255,255,0.5);
        border-radius: 50% 0 0 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(1);
        z-index: -1;
        animation: buzz-loop 1.5s cubic-bezier(0, 1.31, 0.82, 1.32) infinite;
    }
}

.travel-panel-button-close {
    transition: transform 0.3s ease-in;
    transform: translateX(-100%);
    position: absolute;
    z-index: 77;
    left: 0;
    top: calc( 50% - 2rem);

    & .icon-close{
        width: 1.5rem;
        height: 1.5rem;
    }
}

.travel-panel{
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index: 9999;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 0;
    transform: translateX(calc(100% - 4rem));
    transition: transform 0.3s ease-in;
    &.expanded {
        transform: translateX(0);

        & .travel-panel-button-close {
            transform: translateX(0%);
        }

        & .travel-panel-content {
            transform: translateX(0);
        }

        & .travel-panel-button-open.buzz {
            opacity: 0;
        }
    }
}

.travel-panel-content {
    flex:1;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in;
    transform: translateX(4rem);
}

.travel-panel-content .map-viewer{
    position: absolute;
    width: 100%;
    height: 100%;
}

.travel-map {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    box-sizing: border-box;
    z-index: 5;
}

.svgMapTag{
    
    top: 0px;
    left: 0px;
}

.js-travel-to{
    font-size: 1rem;
}

.travel-panel-fast {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
   
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 8px 8px 0 0;
    box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.2);
  
}

.travel-panel-fast-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
        margin: 0.2rem;
        flex: 1 1 auto;
    }
}

.travel-panel-fast-label {
    text-align: center;
    font-weight: bold;
}


@media (max-width: 800px) {

    .travel-panel-button-open {
        border-radius: 50% 50% 0 0;
        box-shadow: 1px 1px 2px 0px var(--black);
        top: 0.5rem;
        left: calc( 50% - 2rem);

        &.buzz::before{
            border-radius: 50% 50% 0 0;
        }
    }

    .travel-panel-button-close {
        border-radius: 0 0 50% 50%;
        box-shadow: 1px 1px 2px 0px var(--black);
        top: -0.5rem;
        left: calc( 50% - 2rem);
        transform: translateY(-100%);
    }

    .travel-panel-content {
        transform: translateY(4rem);
    }

    .travel-panel{
        flex-direction: column;
        transform: translateY(calc(100% - 4rem));
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        &.expanded {
            transform: translateY(0);

            & .travel-panel-button-close {
                transform: translateY(0%);
            }

            & .travel-panel-content {
                transform: translateY(0);
            }
        }
    }
}

@keyframes buzz-loop {
  0% {
    transform: scale(1);

  }
  25% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
