@import 'app/styles/_variables';

.travel-panel-button-open {
    border: none;
    background: var(--orange-light);
    width: 4rem;
    height: 4rem;
    border-radius: 50% 0 0 50%;
    outline:none;
    position: absolute;
    box-shadow: 1px 1px 2px 0px var(--black);
    transition: transform 0.3s ease-in;
    left: 0;
    top: calc( 50% - 2rem);
    line-height: 0;
    

    & .icon-map{
        width: 2rem;
        height: 2rem;
    }
}

.travel-panel-button-close {
    border: none;
    background: var(--orange-light);
    width: 4rem;
    height: 4rem;
    border-radius: 0 50% 50% 0;
    outline:none;
    box-shadow: 1px 1px 2px 0px var(--black);
    transition: transform 0.3s ease-in;
    transform: translateX(-100%);

    position: absolute;
    z-index: 77;
    left: 0;
    top: calc( 50% - 2rem);
    line-height: 0;

    & .icon-close{
        width: 1.5rem;
        height: 1.5rem;
    }
}

.travel-panel{
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index: 9999;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    transform: translateX(calc(100% - 4rem));
    transition: transform 0.3s ease-in;
    &.expanded {
        transform: translateX(0);

        & .travel-panel-button-close {
            transform: translateX(0%);
        }

        & .travel-panel-content {
            transform: translateX(0);
        }
    }
}

.travel-panel-content {
    flex:1;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in;
    transform: translateX(4rem);

}

.travel-panel-content .map-viewer{
    position: absolute;
    width: 100%;
    height: 100%;
}

.travel-map {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    box-sizing: border-box;
    z-index: 5;
}

.svgMapTag{
    
    top: 0px;
    left: 0px;
}

.js-travel-to{
    font-size: 1rem;
}


@media (max-width: 800px) {

    .travel-panel-button-open {
        border-radius: 50% 50% 0 0;
        box-shadow: 1px 1px 2px 0px var(--black);
        top: 0.5rem;
        left: calc( 50% - 2rem);
    }

    .travel-panel-button-close {
        border-radius: 0 0 50% 50%;
        box-shadow: 1px 1px 2px 0px var(--black);
        top: -0.5rem;
        left: calc( 50% - 2rem);
        transform: translateY(-100%);
    }

    .travel-panel-content {
        transform: translateY(4rem);
    }

    .travel-panel{
        flex-direction: column;
        transform: translateY(calc(100% - 4rem));
        &.expanded {
            transform: translateY(0);

            & .travel-panel-button-close {
                transform: translateY(0%);
            }

            & .travel-panel-content {
                transform: translateY(0);
            }
        }
    }

   
}